[2017-02-07 09:49] miljan-aleksic opened #1 "Type conversion"
Thank you for the guide, it will definitely help.

In the [Why](https://github.com/pablohpsilva/vuejs-component-style-guide#how-5) of **Harness your component options** states `Use type conversion to cast option values to expected type`. As Vue doesn't support props conversions, I must assume the conversion is expected to be done by a computed property or when used. It would be interesting to put

[2017-02-07 18:53] pablohpsilva commented on #1
Thank you @miljan-aleksic ! I'll update it soon.
What I was trying to say was to use what vue called "prop validation". Things like:
[code]

Thank you very much for your help! I'll update it soon enough.

[2017-02-07 19:11] pablohpsilva commented on #1
Please @miljan-aleksic , check the README.md again, please.
If it's all good, let me know and I'll either close this isse or fix the README.md again.

[2017-02-08 01:32] miljan-aleksic commented on #1
@pablohpsilva, now it's clear, tks :)

I think you can remove the [2*] and the example comment, besides no existing a pre [1*] anywhere the docs are straightforward about it.

[2017-02-08 05:41] JSmith01 opened #3 "Use <script> & etc"
I hope you're kiddin with this recommendation. Nowadays most IDEs got nice defaults for `<script>` and, hey, HTML5 went towards simplification, not exausting developers by endless useless `xmlns` and other stuff. For example Webstorm insists that you'll use `type="text/babel"` for script tag to correctly interpret ES6 (skipping defaults). But it only means that this IDE is buggy and we'll need to

[2017-02-08 10:18] pablohpsilva commented on #3
Hello @JSmith01 ! Thank you for this issue :)

Yeap, I'm not kidding. The reason why I recommended it was exactly what you say about the buggy IDE's. I hope you're working on an environment where your can choose and switch IDEs whenever you want, but that's not the case for some companies where they strict the use of IDEs. I can go round and round about this subject and explain why companies do it

[2017-02-08 10:21] pablohpsilva commented on #1
You're welcome @miljan-aleksic !! Again, thank you for this issue.

I will keep the changes for now and soon I'll highlight the parts where the "Why" is connected to the "How". I think it will help and solve most of the possible doubts.

Thank you for this issue and great idea! :D

[2017-02-08 10:21] #1 closed, assigned to pablohpsilva

[2017-02-08 13:53] franciscolourenco commented on #3
I doubt any of your have tested all IDE's available to know if it generally problematic. Would be useful if you listed here the IDE(s) you personally know have problem, and the attributes needed to fix it.

[2017-02-08 15:45] kartsims commented on #3
I agree with @JSmith01 for the good reason that `<script>` tag's `type` attribute [now defaults to `text/javascript`](https://www.w3.org/TR/html5/scripting-1.html#attr-script-type) so it is rather on the IDE side to keep up...

We've had problems with WebStorm and since it is a rather widely used IDE, I see your point of forcing it. That's what we did in our team's projects.

Still I don't think i

[2017-02-08 15:57] kartsims opened #6 "Avoid this.$refs needs context"
While reading the paragraph about avoiding `this.$refs` I thought it wasn't clear enough that you mean "avoid it to access subcomponents".

`this.$refs` can also be used to access any DOM element's native API and in this case it is pretty useful and can't be done otherwise.

Would you prefer a PR ?

[2017-02-08 16:54] miljan-aleksic commented on #3
@pablohpsilva, you could leave it as recommendation if you still want it listed, but I agree is IDEs issue about to be solved not affecting everyone.

[2017-02-08 16:57] franciscolourenco commented on #3
I still think it would be interesting to have a list of editors with problems and how to fix them, on a case by case basis.

[2017-02-08 16:57] pablohpsilva commented on #3
Thank you @aristidesfl and @kartsims ! :D

@kartsims your last statement convinced me. If someone is using anything else besides JS while developing their component, they will use some attr on `<script>` so the Vue compiler can compile their component, right?

OK, I'll remove it then.

Thank you @JSmith01 @aristidesfl @miljan-aleksic and @kartsims

[2017-02-08 16:59] franciscolourenco commented on #3
Although that attribute will be `lang` not `type`

[2017-02-08 16:59] pablohpsilva commented on #3
@aristidesfl about the list:

I think it goes off the context here. Like I said in the README.md its just a precaution and something to tell other devs what the code was written in. In the end of the day, the vue compiler will compile the `.vue` file anyways.

[2017-02-08 17:00] miljan-aleksic opened #8 "Events names"
When using the dom as the template there are limitations and one is particullary annoying. As the browser will lowercase the entire tag, events listeners declared as `@myEvent` would be saved as `myevent` and thus ignored when the component emmits `myEvent`. The same happens with props names, but in my tests seems Vue does the conversion.

As best practice the events should be named always as keba

[2017-02-08 17:14] pablohpsilva commented on #8
Hello again @miljan-aleksic :D

About that... I usually use all uppercase with underscore as spaces.

Why? Because I'm 100% sure nobody else does that. I mean, I can clearly separate a third party component event from the one I wrote.

Here. You can clearly see the event I wrote.
![screen shot 2017-02-08 at 3 12 22 pm](https://cloud.githubusercontent.com/assets/2090635/22748900/c08de1a0-ee12-11e6-

[2017-02-08 17:24] pablohpsilva commented on #6
Hello @kartsims ! Thank you for this issue.

OK, help me out.

What I meant is that instead using this.$refs on subcomponents, the subcomponent should provide a good API (props + events). That's why I said "avoid" instead of "don't".

I'm not against the use of refs to access DOM elements.

How could we write this in a more specific way?

[2017-02-08 17:24] #3 closed, assigned to nobody

[2017-02-09 11:42] kartsims commented on #6
After trying to change the paragraph I came to the conclusion that it just doesn't belong here. Not like this anyway

Using `this.$refs` is a hacky way to overcome a component's poor API.

It is still interesting to mention it but maybe in a more general way, at the end of the style guide, in a paragraph like "Improving existing components" or "When should you change the component itself"... Not f

[2017-02-10 09:40] pablohpsilva commented on #6
What do you think about changing it to:

---
## Avoid `this.$refs`

Vue.js supports components to have access to other components and elements context via `ref` attribute. That attribute will provide an accessible way through `this.$refs` to other components/elements context. The need to access **other componets** context via `this.$refs` is a hack. In most cases `this.$refs` just means a componen

[2017-02-10 10:01] pablohpsilva commented on #8
Good morning @miljan-aleksic ! :D

I would like to have some people helping write this style ( @aristidesfl @kartsims @DannyFeliz @crowchirp )

I have some considerations:

1. Native events are [lower case](https://developer.mozilla.org/en-US/docs/Web/Events);
2. A bunch of third party components are shipped using camel or kebab case;
3. Personally I think all components strict to my application s

[2017-02-10 10:11] Elfayer commented on #6
I agree `this.$refs` is not always a bad practice. See this API for example: http://quasar-framework.org/components/modal.html

I think it's pretty clean to access modal open and close method. How would you do it otherwise?
Using a bool prop maybe? I think it wouldn't be as nice.

[2017-02-10 10:34] miljan-aleksic commented on #8
I thought I answered this one... Sorry.

As components events are scoped to the component it is safe to name them without any further consideration but to work on both dom and string templates. I would keep it simple and leave any further styling to the App requirements.

[2017-02-10 10:53] miljan-aleksic commented on #6
Use `$refs` wisely, as quick access to dom objects in complex components as Modals. Yep.

[2017-02-10 10:53] pablohpsilva commented on #6
I never said its a bad practice @Elfayer . I said its better to *avoid* it. :)

The example you just shown its a good example of when use `this.$refs`. It makes sense and it looks super clean.

Check my last comment to see a bad use of this.$refs. Why is it bad? Because that value could be emitted. It makes sense and the component would be isolated.

What do you think @Elfayer ?

[2017-02-10 11:08] Elfayer commented on #6
@pablohpsilva I think `this.$refs` should be mentioned as a useful tool, but people should use it only when required. It could mean that the child component API is wrong.
Maybe just add a reminder: Use `this.$refs` as last resort, most of the time properties and events will be sufficient to a strong API.

We are talking about using `this.$refs` on components, right?
On basic HTML elements it's jus

[2017-02-10 11:26] pablohpsilva commented on #6
Yeap! That's exactly it @Elfayer .

Guys, help me out writing this style guide:

---
## Use `this.$refs` as last resort

Vue.js supports components to have access to other components and elements context via `ref` attribute. That attribute will provide an accessible way through `this.$refs` to other components/elements context. The need to access **other componets** context via `this.$refs` is a h

[2017-02-10 11:32] Elfayer commented on #8
I agree with @miljan-aleksic, events should be kebab case. Although it might be a good idea to find a nice way to avoid collisions with a global bus event pattern.

[2017-02-10 11:36] miljan-aleksic commented on #8
Seems I'm missing the picture, probably because never used a bus event before. @Elfayer, can you expose an example where that could happen?

[2017-02-10 12:02] kartsims commented on #8
I don't believe saying "all caps events are specific to my app" are a good way to answer the question "what is the right way to name components' events ?"

As @miljan-aleksic said, you can name your events whatever you want since it is only available in the component that listen to the event.

I agree with the kebab-case policy.

[2017-02-10 12:08] kartsims commented on #8
About the global bus event pattern, it works the same, if the bus doesn't listen to a specific event, no collision should happen...

I haven't ever used one either as I don't believe it's good practice but I would be curious to see an example too.

[2017-02-10 12:56] Elfayer commented on #8
This is what it looks like: https://jsfiddle.net/6aes0mmL/

**HTML**
[code]

**JS**
[code]

I think it's a bad practice too, maybe it's best not to mention it.
I believe it was mentioned by Evan You for people willing to migrate from Vue1 to Vue2 and having a mess of events.

[2017-02-10 13:26] kartsims commented on #8
OK I see the point but still, it is the developer's responsibility to know how to handle events depending on where it has been listened on, isn't it ?

`bus.$on('my-event', ...` could be handled differently from `<comp @my-event="...`

Like I said, I see the point, but when you listen to `mouseenter` event on a DOM element you should pass on the element to the event handler for an appropriate resp

[2017-02-10 13:42] pablohpsilva commented on #8
Using event bus is not the point here (but, according to vuex documentation, using a event bus should be used only on small applications, due to the complexity it could bring).

About the events itself, I agree:
* Events are scoped to the component ( like @miljan-aleksic said);
* Events should be written in any way the developer desires ( like @kartsims said);
* Events named using kebab case pleas

[2017-02-10 13:43] Elfayer commented on #6
@pablohpsilva I added as much details as I could, keep what you like ;)
I made _italic_ everything I changed.

___

## Use `this.$refs` _with caution_

Vue.js supports components to have access to other components and _basic HTML_ elements context via `ref` attribute. That attribute will provide an accessible way through `this.$refs` to _a component or DOM element_ context. _In most cases,_ the ne

[2017-02-10 13:46] kartsims commented on #6
I like this version, maybe we could continue the discussion (if need be) in a PR ?

[2017-02-10 14:04] miljan-aleksic commented on #8
Yes, just don't forget the kebab case choice is not only beacuse pleases the most but also because assures the dom templates compatibility.

[2017-02-10 15:03] pablohpsilva commented on #6
I liked it too and agree with @kartsims . @Elfayer could you please make that change on a PR for us?
:D

[2017-02-10 15:13] pablohpsilva commented on #8
Moved this issue to a PR soon.

[2017-02-10 16:21] Elfayer commented on #6
@pablohpsilva I'll try, but it'll be my first commit ever on GitHub, so I hope I'm not going to break anything. =/

[2017-02-10 16:27] Elfayer commented on #6
Please tell me if I made any mistake in the process.

[2017-02-13 02:18] miljan-aleksic opened #11 "Components collection registration"
I am rising this ticket to discuss about a best practice for the below, and if results of interest add it as a style guide.

A collection of components can be registered globally or locally as required. Both would have the same output but there are different implications.

## Global approach

Is easier to use, set it once and use as required. It will bloat the code, as the entire library get insta

[2017-02-13 07:39] Elfayer commented on #11
It looks more like a documentation ("how to") rather than a guide ("best practice ") to me. I think if talking about `render` functions, the most important thing is to know when to use it.

[2017-02-13 07:48] miljan-aleksic commented on #11
@Elfayer, from the above which approach would you take and why?

[2017-02-13 08:05] Elfayer commented on #11
That's the thing. To me choosing between a global or local component is not `render` function related.
It is a global component if you should access it from anywhere.

[2017-02-13 08:20] miljan-aleksic commented on #11
@Elfayer, you are right, the local components could be used in a template as well. I have reformulated the issue.

[2017-02-13 14:45] pablohpsilva commented on #6
Nope @Elfayer :D
PR accepted.

[2017-02-13 14:45] #6 closed, assigned to nobody

[2017-02-13 15:05] pablohpsilva commented on #11
Hello @miljan-aleksic and @Elfayer ! :D

In my opinion: it really depend. To answer that question I would at least consider if the component I wanna have on global scope is used over and over again during my application.

Generally speaking? I would choose the local over the global approach. Why? Because, in general, the components I create/use are not global needed.

It really depends on the deve

[2017-02-13 15:19] #8 closed, assigned to nobody

[2017-02-14 17:56] CalebKester opened #13 "Make example follow the guide"
https://github.com/pablohpsilva/vuejs-component-style-guide#how-6

I'd update this example to to follow your naming scheme `name: 'RangerWrapper'`, just to be consistent so it's not 1 word.

[2017-02-15 01:18] pablohpsilva commented on #13
Thank you @CalebKester ! :D
 PR created and merged.

[2017-02-15 01:18] #13 closed, assigned to nobody

[2017-02-15 01:20] pablohpsilva commented on #11
Since there was no further discussion, I'm closing this issue for now.

[2017-02-15 01:20] #11 closed, assigned to nobody

[2017-02-17 13:27] ErickPetru opened #15 "Root elements order in component structure"
I really appreciate the time put for creating this guide. But I do not agree too much with the order proposed for `<template>` before `<script>`.

- The exposed argument about people going to spend more time dealing with HTML seems to be a bit unconfirmmed. Particularly I had spent more time with the component logic (_JavaScript_) and not with the visual structure (_HTML_).
- Another point is that

[2017-02-17 15:31] pablohpsilva commented on #15
Hello @ErickPetru !!! Thank you for this issue.

What component organization are you proposing?

1. template, style and then script?
2. or script, template and then style?

About having the `<template>` next to `<style>` I don't really see that much of a benefit, since the `<style>` can be completely detached from the component and outsourced in a style file.

Having the `<template>` first, in my

[2017-02-17 16:10] ErickPetru commented on #15
Hello, first let's clarify it: I'm proposing `<script>`, `<template>`, `<style>`. Your arguments makes sense, let's debate it a little more...

- I agree about the possibility of detaching `<style>` from the component but the style guide itself states that using a naming convention **plus** scoped styles is the recommended aproach, so we could supose that the `<style scoped>` is the "right way" an

[2017-02-20 10:24] xralphack opened #16 "Assign this to component"
Can you tell more about this topic? I am confused how to implement this instead of using const self = this

[2017-02-20 11:54] pablohpsilva commented on #16
Hello @xralphack ! Thank you for this issue :D

Its quite simple: Since the ECMAScript 6 was launched, when using it, there's no need for binding a variable to `this`. All you have to do is write functions in ES6 format and binding the `this` to a `self` variable will not be needed.

Example:

[code]
For more information, please, read [this](http://es6-features.org/#Lexicalthis).

[2017-02-20 11:54] #16 closed, assigned to nobody

[2017-02-20 11:55] pablohpsilva commented on #15
Hello @ErickPetru :D

Let me add some awesome dudes in this issue: @Elfayer @DannyFeliz @kartsims @aristidesfl

Guys, what do you think about it?

[2017-02-20 11:59] pablohpsilva commented on #15
@ErickPetru I agree with the `<style scope>`. That's awesome but, I'm not 100% sure if all browsers support it yet. I know Chrome does.

I also agree on seen the API first is a good way to understand what it does. But that's why we recommend creating [documentation](https://github.com/pablohpsilva/vuejs-component-style-guide#document-your-component-api) for component's API.

I still prefer the `te

[2017-02-20 13:15] franciscolourenco commented on #15
In this case I would trust @yyx990803. The docs use `template, script, style`. It is either the most intuitive, or Evan already put some thought into it. If you really think this should be different, propose a change on the official docs, otherwise you will create inconsistency.

Also be careful not to overload the guide. Being exhaustive with stuff which doesn't mater, will dilute the good parts,

[2017-02-20 13:17] Elfayer commented on #15
Hey guys ! =)

For `<style scoped>` I thought you were talking about the Vue-Loader syntax. But it's only available on Firefox apparently : http://caniuse.com/#search=scoped

I don't have a fixed opinion on this. I'd follow what is proposed from Vue-Loader (`<template>`, `<script>`, `<style>`), just because that's how they show it.

Thinking about it, I think I prefer this order anyway. The two op

[2017-02-20 13:21] franciscolourenco commented on #15
Vue scoped styles don't use that, but this: http://caniuse.com/#search=CSS%202.1%20selectors

[2017-02-20 13:23] ErickPetru commented on #15
Vue scoped styles aren't related to the official CSS scoped spec. Take a look here: https://github.com/vuejs/vue-loader/blob/master/docs/en/features/scoped-css.md

I believe all of us can agree with it, lol.

[2017-02-20 13:27] Elfayer commented on #15
@ErickPetru  That's the idea ;)

Although if that was just me, I agree with @aristidesfl :

[2017-02-20 14:18] xralphack commented on #16
Got it. Thanks for your explanation!

[2017-02-20 15:11] kartsims commented on #15
I agree with you guys, no need to overload the guide, let's stick with the docs as much as possible, they are the source of truth, this guide should be complimentary.

The fact that lots of stuff are removed from the guide is a good thing, the information becomes clearer and easier to grasp. Just look at the Vue.js docs, simple and straight to the point.

[2017-02-20 15:39] yyx990803 opened #17 ""options" should be "props""
Options is a riot term. In Vue it's `props`. Options usually refers to the component's definition options.

[2017-02-20 16:30] pablohpsilva commented on #17
Done! Thank you @yyx990803 :D
Thanks for the amazing framework

[2017-02-20 16:30] #17 closed, assigned to nobody

[2017-02-20 16:38] pablohpsilva commented on #15
I think I can close this issue then.

Let's stick with the documentation that @yyx990803, which is the same we have on this style guide :D

Thank you for your help on this issue guys.

[2017-02-20 16:38] #15 closed, assigned to nobody

[2017-02-20 16:39] pablohpsilva commented on #16
You're welcome @xralphack :D

[2017-02-20 17:12] franciscolourenco opened #18 "Remove use-component-name-as-style-scope"
I would say this section is opinionated outside of the scope of Vue components, into a field of CSS which is controversial. It advises BEM and OOCSS which are methodologies which some people choose not to subscribe to knowingly.

Also exemplifies a kind of nesting one should probably avoid for a few reasons: `MyCompoennt li {}`

Also advises to use both `<style scoped>` along with css scoping, wit

[2017-02-21 01:41] yzb162534 commented on #18
In our project, we always use component name as componet's root class.
We think it is useful to locate the component in html.

[2017-02-21 01:47] franciscolourenco commented on #18
@yzb161114 that makes total sense. What doesn't make a lot of sense is to recommend nesting css selectors AND using <style scoped>. Maybe you shouldn't nest at all because of increased specificity.

[2017-02-21 10:57] pablohpsilva commented on #18
Hello @aristidesfl ! :D

I see... Well, I think using BEM and/or OOCSS will guarantee the component will always have a specific context. This section is there just to put two good practices together and make good use of them while building components.

I know that `<style scope>` will address that issue cleverly, but I think  That's a good way of separating things in components.

Anyhow, please, m

[2017-03-05 13:59] pablohpsilva commented on #18
I will close this issue for now. It will be reopened when someone else has anything else to add about this matter.

Thank you @aristidesfl and @yzb161114! You guys rock! :D

[2017-03-05 13:59] #18 closed, assigned to nobody

[2017-03-05 17:01] franciscolourenco commented on #18
Besides the readability issues which could result from the nesting:

- Those css methodologies are outside of the main topic of the guide (if you want to keep it focused).
- They compete with functionality offered by Vue. Vue doesn't require/benefit from that specific practice.
- There are other places where people can read about available CSS methodologies more thourougly and make up their mind.

[2017-03-07 20:57] shershen08 opened #22 "Docute docs translation links are broken"

[2017-03-09 15:55] pablohpsilva commented on #22
Thank you @shershen08 ! I'll fix them ASAP.

[2017-03-09 16:14] pablohpsilva commented on #22
I removed it until fixed. Than you once again @shershen08

[2017-03-10 07:40] shershen08 commented on #22
Yes, I agree it's better like this for now.

[2017-03-10 07:40] StevenYuysy opened #25 "About watch and methods"
[code]

My question is, `watch` supposed to be a watcher instead of `methods`.
It would be better change to

[code]

[2017-03-10 07:44] shershen08 commented on #22
Afaik that's one of the options to impl multilingual in Docute -  https://docute.js.org/#/home?id=navbar

[2017-03-10 12:52] pablohpsilva commented on #25
Hello @StevenYuysy ! How are you doing? Thank you for this issue.

What the style guide meant was that both `watch` and `methods` look, feel and produce methods (against `computed`, for example, that look, fell like a method but produce a variable). The comment `// methods` is just telling you should keep methods grouped.

[2017-03-18 08:10] StevenYuysy commented on #25
Thx for your explanation.

[2017-03-18 08:10] #25 closed, assigned to nobody

[2017-03-20 11:09] ingvoo opened #36 "broken url"
this url from the description is broken
https://pablohpsilva.github.io/vuejs-component-style-guide

[2017-03-20 14:09] pablohpsilva commented on #36
Thank you @ingvijonasson I'll fix it ASAP.

tagged: #22

[2017-03-20 16:13] pablohpsilva commented on #36
Fixed. I still have to work on something else to fix some URLs.

Thank you.

[2017-03-20 16:13] #36 closed, assigned to nobody

[2017-03-20 16:18] pablohpsilva commented on #22
Fixed! Finally. Sorry for taking so long =X

[2017-03-20 16:18] #22 closed, assigned to pablohpsilva

[2017-03-21 01:19] ghost opened #38 "错别字"
“再”写错了。

[2017-03-21 11:43] #38 closed, assigned to nobody

[2017-03-29 16:01] Elfayer opened #39 "[New] When should I create a new component ?"
This question comes regularly to head for any web component interface.

We learned that a component should be *self sufficient* and *reusable*.

The problem is:
- The smaller the components, the more you get. (Your project gets flooded, harder to make components communicate)
- You build less components, the biggest they get. (Harder to maintain, less reusability)

It's always complicated to find t

[2017-03-31 11:55] pablohpsilva commented on #39
Hello @Elfayer !! I'm super glad to see your help.
Once again I'm gonna thank you for your help: Thank you! :D

This topic is great, but it's also subjective though. Allow me to think a little bit more about it and I'll come back to you ASAP.

Please, if you may/like, invite some friends to help us out. The more people helping, the merrier.

---

Guys, if you can, please, give us your thoughts :D

[2017-03-31 15:55] franciscolourenco commented on #39
I would say, create components only when you **need**. Wait until the code needs to be reused. Or it grows too big. Like you said, they are not for free.

[2017-04-02 09:45] shershen08 commented on #39
I would also propose to think of the whole application or product creation and development  not as a finite activity but as a process.

In that sense upgrading versions of libraries, adding new features or refactoring your own code are that basically may never end (at least for years, which is an epoch in world of frontend).

From that prospective creating new components or refactoring the existin

[2017-04-05 02:15] seanbuscay opened #42 "Directory Structure Patterns"
Hello.

It is great to have found your style guide.

While learning Vue I found it is flexible; allowing multiple ways to accomplish the same functionality.  The flexibility also presents a challenge when trying to determine which approach to take.

Your approach of using Why/How to describe a uniform set of patterns is excellent.  Thank you.

Having read your explanations for the directory struct

[2017-04-06 16:42] pablohpsilva commented on #42
Hello @seanbuscay ! Thank you! :D

You're very much welcome.

About the directory structure pattern I think we can talk about it. This will be written by all of us.
In the current moment I'm working a lot. But soon I'll come back to you about this issue, OK?

[2017-04-07 15:43] pablohpsilva commented on #39
Hello everyone!
@Elfayer sorry for taking so long to reply.
I strongly agree with all of you. There's no guarantee of knowing exactly when a new component should be created.

What do you think about the following:

---
## Create components when needed

### Why?

Vue.js is a component framework based. Not knowing when create components can lead to issues like:

* If the component is too big, it pro

[2017-04-07 15:46] pablohpsilva commented on #42
Hello @seanbuscay ! Sorry for making you wait for so long.

I also think the vue-material-boilerplate directory structure is very good. I'm using it in several large scale apps nowadays and devs are liking it. There's another one from [Nuxt](https://nuxtjs.org/guide/directory-structure). Have you heard about it?

[2017-04-07 16:41] franciscolourenco commented on #39
Assuming you are open for discussion on those points, here is my point of view regarding a few:

Trying to merge what doesn't need to, can increase complexity of the resulting component.

Can be a waste of time. If the component is working, why separate prematurely? Nothing is gained by it and complexity is increased.

[2017-04-07 21:52] seanbuscay commented on #42
I'll check it out. Thank you.

[2017-04-10 09:50] Elfayer commented on #39
Hi guys!

Sorry for not being very talkative lately on the subject.
I'm currently in holidays and will take time to look into your answers (which seems very interesting) later this week or next week when I'm back to my office.

[2017-04-10 19:38] pablohpsilva commented on #39
@aristidesfl

Like this (?):

---

## Create components when needed

### Why?

Vue.js is a component framework based. Not knowing when create components can lead to issues like:

* If the component is too big, it probably will be hard to (re)use and maintain;
* If the component is too small, your project gets flooded, harder to make components communicate;

### How?

* Separate components candidat

[2017-04-17 14:43] pablohpsilva commented on #42
@seanbuscay I'll close this issue for now. Reopen it when you want.

Thank you once again :D

[2017-04-17 14:43] #42 closed, assigned to nobody

[2017-04-20 15:51] Elfayer commented on #39
@aristidesfl That's the basic/first approach anyone would have I guess. Not a bad one, it just have couple of problems:
- You lose time since you could have done it right the first time.
- You might refactor this component multiple times before getting it right.
- You might have to rethink every parents/children since the inputs/outputs have to be the same for this new component everywhere it is u

[2017-04-25 11:42] pablohpsilva commented on #39
@Elfayer I think this is good enough. Great job in my opinion!

What do you guys think? @aristidesfl @shailendher @uonick @DannyFeliz

[2017-05-05 17:46] etiennellipse opened #43 "Section "Assign this to component" example does no show it"
This section stipulates this:

The code example attached does not define any variable named component. It's confusing.

[2017-05-08 09:10] Elfayer commented on #43
Right.

And I'd add a mention to explain that in ES6 you don't need anything like `var self = this`. But in ES5 you will.

[2017-05-08 12:37] etiennellipse commented on #43
Well, you don't need it when using arrow functions, since the lexical scope is kept. But you might if you are using a typical `function` for whatever reason.

[2017-05-08 15:56] pablohpsilva commented on #43
What do you think about this edit:
---
[...]
In other words: Do **NOT** code things like `var self = this;` anymore if you're using **ES6**. You're safe using Vue components.

### Why
* Using ES6, there's no need to save `this` to a variable;
* In general, when using arrow functions the lexical scope is kept
* If you're **NOT** using ES6 and, therefore, not using `Arrow Functions`, you'd have to a

[2017-05-08 16:35] Elfayer commented on #43
@pablohpsilva Sounds good to me!

Just some few points:

- `const` is ES6, so I'd write `var self = this;`, on the first line.
- Be consistent, write **NOT** in capital the "why" section.

[2017-05-11 08:28] Elfayer commented on #39
Should we consider this valid?
Where should we add it?
At the very end?

[2017-05-11 11:40] pablohpsilva commented on #39
Hello @Elfayer !
I was waiting on others opinion but I think its very good as it is.
Can you make a PR for it (and add your github/twitter at the end of the file)?

---

@xiaofuzi @wysxhlyy @sqrthree @kciter @shershen08 could you guys translate this new section for the community?

[2017-05-11 11:40] #39 closed, assigned to nobody

[2017-05-29 06:45] linhe0x0 commented on #39
@pablohpsilva Sorry, I missed this message until just now. I have created a PR #46 for this.

[2017-05-30 12:52] Elfayer commented on #43
[out of topic]
Congrats for the 1000 stars! ;)

[2017-06-02 17:54] mikeerickson opened #49 "How about a complementing application"
Have you considered creating a basic example application which uses all these various "rules" and "guides"

[2017-06-03 12:31] pablohpsilva commented on #43
Done guys! Thank you so much! :D

Thank you @Elfayer hehehehe

[2017-06-03 12:31] #43 closed, assigned to nobody

[2017-06-03 12:33] pablohpsilva commented on #49
Hello @mikeerickson ! How are you? :D
I considered and I'll do it ASAP. Do you have something ready? If you do, I can add a link to this repo :)

[2017-06-03 18:20] mikeerickson commented on #49
@pablohpsilva working on it this weekend.  I will let you know when it is ready

[2017-06-05 11:00] pablohpsilva commented on #49
Really!??! Duuuuuuuude!! You rock!!!
When you're done, let me know and we'll place this app in a good spot here, OK?
Thank you! :D

[2017-06-05 14:04] wosubtil commented on #42
Before anything congratulations @pablohpsilva . Your guide has an incredible quality!

I don't know if it fits to quote in this "issue" or create a new one, but one thing that I miss is a reference about the organizations of resources and components of the app.

When I used to develop in Angular 1x, I used the styleguide do John Papa, and in it there is a topic about this point: https://github.com

[2017-06-11 12:59] pablohpsilva commented on #42
Hello @welintonti ! Thank you dude! :D
Well... since this is a recurrent request, could you please open an issue for it and link this issue?
I much appreciate it.

[2017-06-16 18:13] Trekels opened #50 "Application structure ?"
A section showing best practice application structure. I'll setup a pull request if you think its a good idea 😄

 .
 | ── build/                              # exported app files
 |           |--- ...
 | -- src/
 |      | -- app.js                       # app entry file
 |      |-- components/           # Vue components
 |     │        | ---- ...
 |      | --- assets/                   # module as

[2017-06-17 19:56] wosubtil commented on #50
Hi @Trekels
I wrote about this: https://github.com/pablohpsilva/vuejs-component-style-guide/issues/42

@pablohpsilva I think we can continue here, okay?

[2017-06-17 22:57] Trekels commented on #50
@welintonti  Thanks for linking to the issue I totally missed it, will got through it and add a pull request.

[2017-07-13 18:16] thedamon opened #53 "Component naming section is confusing to me"
Particularly this sentence: _"**app- namespaced:** if very generic and otherwise 1 word, so that it can easily be reused in other projects."_

Very generic components should have "app" as a namespace? Or should they have your app's name as a namespace ("myapp-")? Or is it using app as a namespace because in the example it is descriptive ( _app-header_ for the header of the app)

Couldn't very gene

[2017-07-17 06:54] Elfayer commented on #50
Personally, my application structure is the same as the one given by vue-cli webpack. I just added few folders to make it better to my usage:

_/src_ (Default)
_--/assets_ (Default)
_--/components_ (Default, all reusable components)
_--/i18n_ (Containing trads ordered with folder by page or language. Also has an `index.js` to import vue-i18n easily)
_--/mixins_ (Contain reusable mixins)
_--/pages_

[2017-07-30 13:28] pablohpsilva commented on #53
Hello @thedamon :D
First things first: Thank you for opening this issue :D

What it meant was add `myapp-`, like the name of your application.

If you can create a PR with the changes, that would be awesome!

[2017-07-30 16:32] mikeerickson commented on #53
+1

[2017-08-05 12:37] #53 closed, assigned to nobody

[2017-09-07 22:42] adrianoresende opened #57 "/deep/ selector"
Very good the guide.

I would like to know your opinions about `/deep/ selector`.

It turns out that the father needs a change in the child only in the visual. I do not know if this violates FIRST.

This feature is implemented in 12.2.0 (vue-loader) May 2017
Issue: https://github.com/vuejs/vue-loader/issues/661

I like this feature because it avoids increasing the code in the child components.
For

[2017-09-13 17:14] klarkc opened #59 "Add standalone templates as suggestion"
I developed this template https://github.com/InCuca/vue-standalone-component/ using my experience with Polymer components: paper, iron, etc. In this template I tried to create a standalone component using https://github.com/vue-styleguidist/vue-styleguidist, the next step is add karma tests for a full self-contained component strucuture.

What do you think about linking some of the community made

[2017-09-14 04:23] Elfayer commented on #57
I already encountered this issue, I think. Tell me if we are talking about the same thing.

You use `scoped` attribute on the `<style>` of a child. Then you want to override it on the parent, but you can't. Because Vue is going to generate a random attribute looking like `data-v-9922c9c`, and you cannot guess on the parent what it is going to be. So you're stuck. The child style can't be collapsin

[2017-09-19 23:35] pablohpsilva commented on #57
Hello @adrianoresende
I've never have really used both `scoped` nor `/deep/` to be honest with you. I know what they can do but, just like @Elfayer , the way I arrange classes and take care of making namespaces with them I never really needed to use those.

Please be free to call friends to post their opinion on this topic. If they really like it, let's write a style guide. :D

[2017-09-19 23:38] pablohpsilva commented on #59
I think it would be awesome to have demo apps here @klarkc :D
I couldn't find it but is styleguidist using this repo style guide?

[2017-09-20 00:29] klarkc commented on #59
Somehow yes, but the styleguidist only worries about documentation and the playground (demo), not about all aspects of this repo style guide. That's why I am doing this as a premade way to create components using the best libraries that exists in the community. These templates can be used by newbies in Vue (like me) as a start point to put all these concepts in practice.

[2017-09-20 00:42] adrianoresende commented on #57
The only reason I used scope is to avoid **side effects**.

Everyone has already had side effect with CSS in maintenance or improvement, so CSS enclosed inside component makes it safer.

I'm interested to know the best way to apply style safely and less complexity (less side effect)

[2017-09-20 01:09] Elfayer commented on #57
@adrianoresende You would agree that **all** the components of an application should have a different name? Well I personally add the name of the component as class root, so no risk of any collision. If there is a collision, you used a class of the name of another component.

Example:
File name: `TaskBoard.vue` would look like:

[code]

Or `UsersList.vue` would look like:

[code]

That's how I wor

[2017-09-20 14:54] victor-am commented on #57
@Elfayer this approach has a downside. If you do something like below:

[code]

If the `row-component` contains any element with a class named `title`, it will be affected by the `font-weight: bold` rule, because the style is allowed to leak from it's original component.

As I see it, not using `scoped` can lead to either unmaintenable CSS or styles that are much more verboose (to avoid clashing n

[2017-09-21 19:17] victor-am commented on #57
But back to the main topic, overall what do you folks think of using `/deep/` navigation on Vue.js scoped CSS? 🤔

Using it you are coupling the style from the children to the parent, but on the other side it reduces some complexity on some cases 🤔

I feel like if you don't overuse it, `/deep/` can be a helpful feature, but it's hard to define what is overusing 😆

[2017-09-21 20:54] adrianoresende commented on #57
hahahaha
Well, the intent is to modify the right class you want to modify.
With example you posted above, if I want to modify the `icon` only without modifying the `title`.

[2017-10-13 04:34] fritx opened #62 "Suggest 'components' be placed before 'props'"
https://github.com/pablohpsilva/vuejs-component-style-guide#why-6

[code]

I suggest `components` be placed after `extends` and before `props`,
because it is intensively related to the`<template>` on top, and nothing else.

like: https://github.com/vuejs/vue-hackernews-2.0/blob/master/src/views/ItemList.vue

I suffer from scrolling too much, and think it is not ~~relational~~(rational).
Any though

[2017-10-15 17:22] pablohpsilva commented on #62
Hello @fritx !
Let's talk about it. Yeap, I do believe all components attributes should be easy to read and easy to spot.
With that in mind, I believe it would be better if `computed` attr could be placed right after props.

"But... Why?" You may ask. I believe `name`, `mixins`, `extends`, `props` are very important to know what the component is (`name`), what is made of (`mixins`, `extends`) and

[2017-10-31 04:09] fritx commented on #62
@pablohpsilva Hah, thanks for your reply!

I'm very agreed with that, and I think, *"Birds of a feather flock together"*,
another principle is cool as well -- things should be categorized by types.

The accepted values of `components` are same as `extends` and `mixins`, are all *Components*,
so I think a better practice is to place them together, it would look very clear.

For example, in one of m

[2017-12-23 10:16] alwxkxk opened #66 "中文翻译中的一个小错误"
位置：Component event names
Events should either end in verbs in the infinitive form (e.g. client-api-load) or nouns (e.g drive-upload-success) (source);
事件命名应该以动词（如 client-api-load） 或是 形容词（如 drive-upload-success）结尾。
形容词 应为 名词。

[2017-12-25 09:16] andreevsm opened #67 "Component's name in folder"
As you can see below, i have a question... How correctly to name components here?
![image](https://user-images.githubusercontent.com/26060516/34336980-b68eac42-e96c-11e7-9b8c-7bf58dce1858.png)

[2017-12-25 16:27] serzhikkk commented on #67
Oh, sorry, the answer was here
https://ru.vuejs.org/v2/guide/components.html#%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BF%D0%BE-%D0%B8%D0%BC%D0%B5%D0%BD%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BE%D0%BD%D0%B5%D0%BD%D1%82%D0%BE%D0%B2

[2017-12-30 16:07] pablohpsilva commented on #67
Hello @serzhikkk
I would name the file just like I name the component:
`ComponentOne.vue`

[2017-12-30 16:07] #67 closed, assigned to nobody

[2017-12-30 16:09] pablohpsilva commented on #66
Hello @alwxkxk
I translated it but I didn't understand this issue (most likely to be the bad translation). Could you write in English? Even better, could you make a PR?

[2018-01-11 03:21] alwxkxk commented on #66
PR: https://github.com/pablohpsilva/vuejs-component-style-guide/pull/68

[2018-01-11 03:21] #66 closed, assigned to nobody

[2018-02-24 08:26] apdevelop opened #70 "'Keep component props primitive' - typos in sample code"
Sample code in the [Keep component props primitive](https://github.com/pablohpsilva/vuejs-component-style-guide#keep-component-props-primitive) section contains several typos:
[code]
See also [Literal vs. Dynamic](https://vuejs.org/v2/guide/components.html#Literal-vs-Dynamic)

[2018-02-25 17:20] nxpatterns commented on #42
great suggestions are always welcome, some hints:

* http://pksunkara.com/posts/complex-vuejs-app-structure/
* https://nuxtjs.org/guide/directory-structure#directories
* https://medium.com/3yourmind/large-scale-vuex-application-structures-651e44863e2f
* https://forum.vuejs.org/t/structuring-very-large-applications/840

It should be maybe a section at https://github.com/vuejs/awesome-vue something

[2018-04-17 13:19] dalu opened #71 "unrelated: where is your angular-rollup-boilerplate?"
from this blogpost https://medium.com/tldr-tech/angular-1-rollup-and-stylus-dbdcb88f1174

<blockquote>
tldr;

    Just checkout my github repo: angular-rollup-boilerplate
</blockquote>

[2018-04-18 21:10] pablohpsilva commented on #71
Hello @dalu :D
Thank you for reaching out.

Dude, to be 100% honest with you I deleted it. Why did I do it? For a few reasons:
* Because the Angular 1 project I was working on was canceled;
* Rollup + Angular 1 had a few issues that, depending on the package you used with Angular, rollup just couldn't handle it (I can't remember the error right now);
* Back then most of Angular 1 projects were usi

[2018-04-24 15:57] pablohpsilva commented on #71
I totally feel your pain @dalu . Totally

[2018-04-29 07:54] yuta17 opened #74 "#use-script-inside-component is not found"
`#use-script-inside-component` anchor is not found in  [this line](https://github.com/pablohpsilva/vuejs-component-style-guide/blob/master/README.md#how-12)

「 put script inside a <script> component」

[2018-04-29 17:36] pablohpsilva commented on #70
Thank you @apdevelop ! Can you create a PR with the corrections?

[2018-04-29 17:38] pablohpsilva commented on #74
Thank you! Fixed README.md

[2018-04-29 17:38] #74 closed, assigned to nobody

[2018-04-30 13:12] apdevelop commented on #70
Done it!  https://github.com/pablohpsilva/vuejs-component-style-guide/pull/75

[2018-05-03 13:29] pablohpsilva commented on #70
Thank you once again! :D

[2018-05-03 13:29] #70 closed, assigned to nobody

[2019-02-14 10:33] poozhu opened #77 "句子勘误"
谨慎使用 this.$refs标题下第一段第二排：在使用的的时候，多了一个的

[2019-05-10 22:22] adjenks commented on #57
[code]